@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.back{
  background-image: url("../../public/Nueva\ imagen\ de\ mapa\ de\ bits\ \(2\).bmp");
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
  background-position-y: -200px;
  height: 100vh;
}